/*Global Layout Set-up*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: whitesmoke;
  font-family: 'Noto Serif', serif, sans-serif;
}
p {
  font-size: 1em;
  margin: 0 30px 2em;
  font-weight: lighter;
}
h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: dimgrey;
  font-family: 'Roboto', sans-serif;
}
h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: darkcyan;
}
h4 {
  margin:0 auto;
}
#skills p {
  text-align: left;
  max-width: 80%;
  margin: 0 auto;
}
/* Link Styles */
a, ul {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 1em;
  margin: 0;
  padding: 0 10px 30px 10px;
}
a {
  padding: 0px 80px;
}
a:hover {
  color: darkcyan;
}
li {
  font-size: .7em;
  background: white;
  margin: 5px;
  padding: 8px;
  text-transform: uppercase;
}
 .skillsList li {
  text-transform: none;
  background: none;
  list-style-type: disc;
  text-align: left;
  max-width: 70%;
  margin-left: 20%;
  font-size: 1em;
}
.footer-nav li {
  background: none;
}
/* Section Styles */
.main-nav {
  width: 100%;
  background: whitesmoke;
  min-height: 30px;
  padding-top: 10px;
  text-align: center;
}
header {
  padding-bottom: 20px;
}
.columns {
  background: white;
  padding: 30px 0;
}
.profile-image {
  margin-top: 20px;
  width: 57%;
  height: 57%;
}
.portfolio-images {
  width: 80%;
  height: 80%;
}

.intro {
  text-align: center;
  margin: 0 auto;
  padding: 25px;
}
.potfolio {
  padding-top: 30px;
  padding-bottom: 40px;
}
#skills {
  background: thistle;
  padding: 10px;
  margin-top: 20px;
}
#contact {
  width: 100%;
  background: whitesmoke;
  min-height: 30px;
  padding: 10px 0;
}
.contactP {
  line-height: 1.5em;
}
.contactInfo {
  line-height: 3em;
  background: whitesmoke;
  padding-top: 20px;
}
.footer-nav {
  text-decoration: none;
  max-width: 100%;
  border-top: solid 2px grey;
  background: whitesmoke;
  margin: 0 10px;
  padding-bottom: 45px;
  padding-top: 20px;
}

.name {
  float: left;
  display: inline-block;
  max-width: 50%;
}

.top {
  float: right;
  display: inline-block;
  max-width: 50%;
  font-size: 1em;
  padding: 0;
}

.footerLinks {
  display:none;
}

/* Styles for larger screens */
@media screen and (min-width: 768px) {

  #profile {
    margin: 0 20px;
  }
  .profile-image {
    display: inline-block;
    float: right;
    width: 40%;
  }
  .intro {
    display: inline;
    float: left;
    width: 60%;
    text-align: left;
    padding: 20px;
    font-size: 1.25em;
  }
  .skillsList li {
    text-align: left;
    display: list-item;
    list-style-type: disc;
}
   a, li {
    background: none;
    margin: 7px;
    font-size: 1em;
    display: inline-block;
    padding: 0;
  }
  header {
    min-height: 275px;
    padding-right: 20px;
  }

  .portfolio-images{
    width: 100%;
    height:100%;
  }

  .columns {
    background: white;
    padding: 35px 25px;
    margin-bottom: 30px;
  }
  .portfolio-left {
    display: inline-block;
    float: left;
    max-width: 50%;
    padding-right:5px;
  }
  .portfolio-right {
    display: inline-block;
    float: right;
    max-width: 50%;
    padding-left: 5px;
  }
  #skills {
    background: thistle;
    padding: 20px;
    max-width:100%;
    margin: 0 auto;
  }

  #skills p {
    text-align: left;
    max-width: 70%;
  }
    .skillsList {
    max-width: 70%;
    margin-left: 20%;
  }
   ol {
    text-align: left;
    list-style-type: disc;
  }

  .contactP {
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 40px;
  }
  .contactInfo {
    padding-bottom: 35px;
  }
  .name {
    display: inline-block;
    max-width: 20%;
    padding-left: 25px;
    padding-top: 10px;
  }
  .top {
    display: none;
  }

  .footer-nav {
    padding-bottom: 55px;
  }
  .footerLinks {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
  }
}

/*clearfix */
.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}


@media screen and (min-width: 1024px){

  header {
    min-height: 430px;
    margin-top: 40px;
  }
  h1 {
    display: inline-block;
    font-size: 1.5em;
    margin: 0;
    padding-left: 25px;
    padding-top: 5px;
    float: left;
  }
  .profile-image {
    clear: both;
    padding-right: 20px;
  }
  .intro {
    font-size: 1.5em;
    max-width: 57%;
  }
  .main-nav {
    padding: 0 25px;
  }
  .nav {
    float: right;
  }
  li,a {
    background: none;
    display: inline-block;
    margin: 7px;
    font-size: 1.3em;
  }
  .columns {
    margin: 35px;
  }
  .portfolio-left,
  .portfolio-right {
    max-width: 33.3%;
    padding: 5px 10px;
    margin: 0 auto;
  }
  .portfolio-right {
    float: none;
  }
  .third {
    float: right;
  }
  .bottom-left {
    float: left;
  }
  #skills {
    background: thistle;
    padding: 20px;
    max-width:100%;
    margin: 0 auto;
  }

  #skills p {
    text-align: left;
    max-width: 50%;
  }
    .skillsList {
    max-width: 50%;
    margin-left: 20%;
  }

  .contactP {
    max-width: 44%;
  }
  .footer-nav {
    max-width: 90%;
    margin: 0 auto;
  }
  .name {
    max-width: 30%;
    font-size: 1.4em;
  }
  .footerLinks {
    font-size: .8em;
    padding-bottom: 0;
  }
  .footer.nav {
    padding-bottom: 10px;
  }
}
